main {
  flex-grow: 1;
  transition: all 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-primary);
}
main header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
  margin-bottom: 50px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
}
main header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

main footer {
  height: 90px;
  width: 90%;
  max-width: 860px;
  overflow: hidden;
  margin: 20px auto;
  margin-bottom: 7px;
  text-align: center;
}
main footer .footer-top {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--primary-color);
  padding-right: 20px;
  border-radius: 50px;
}
main footer img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  cursor: pointer;
}
main footer input {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  background: transparent;
  color: var(--text-color);
}
main footer input::placeholder {
  color: gray;
}
main footer input:focus {
  outline: none;
}
main footer .footer-bottom {
  font-size: 13px;
  color: var(--text-color);
}
.hidden {
  display: none;
}
