.welcome-container {
  width: 100%;
  height: 100%;
}
.welcome-container h1 {
  font-size: 3.2rem;
  color: #c4c7c5;
}
.welcome-container h1:first-child {
  margin-top: 30px;
  display: inline-block;
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.welcome-container .box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.welcome-container .box-container .box {
  width: 170px;
  height: 200px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  position: relative;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.welcome-container .box-container .box:hover {
  background-color: var(--box-hover);
}
.welcome-container .box-container .box img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
