@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli";
}
.total-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

@media (max-width: 924px) {
  .total-container {
    height: 130vh;
  }
}
@media (max-width: 693px) {
  .total-container {
    height: 140vh;
  }
}
