@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli";
}
.total-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
